requests>=2.20.0
argparse
matplotlib
nose
numpy
pyparsing
python-dateutil
scipy
Flask
flask-restful
flask-restful-swagger
flask-cors
mock
six
graphviz
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
